services/ms-nlp/workflows/rag-chat.json
{
  "name": "RAG Chat",
  "nodes": [
    {
      "id": "38ceca67-da69-440a-a8cb-010e7a11356f",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        260,
        300
      ],
      "webhookId": "38ceca67-da69-440a-a8cb-010e7a11356f",
      "parameters": {
        "mode": "hostedChat",
        "public": true,
        "options": {}
      },
      "typeVersion": 1.4
    },
    {
      "id": "get-embedding",
      "name": "Get Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        500,
        300
      ],
      "parameters": {
        "url": "={{ 'https://generativelanguage.googleapis.com/v1beta/models/gemini-embedding-001:embedContent?key=' + $env.GEMINI_API_KEY }}",
        "method": "POST",
        "options": {},
        "jsonBody": "={{ { model: 'models/gemini-embedding-001', content: { parts: [{ text: $json.chatInput }] } } }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json"
      },
      "typeVersion": 4.2
    },
    {
      "id": "prepare-vector",
      "name": "Prepare Vector",
      "type": "n8n-nodes-base.code",
      "position": [
        740,
        300
      ],
      "parameters": {
        "jsCode": "const values = $input.first().json.embedding?.values ?? [];\nconst vecStr = '[' + values.join(',') + ']';\nconst message = $('Chat Trigger').first().json.chatInput;\nreturn [{ json: { vecStr, message } }];",
        "language": "javaScript"
      },
      "typeVersion": 2
    },
    {
      "id": "retrieve-context",
      "name": "Retrieve Context",
      "type": "n8n-nodes-base.postgres",
      "position": [
        980,
        300
      ],
      "parameters": {
        "query": "SELECT fuente, contenido_resumido FROM rag_doc_indice ORDER BY embedding <-> $1::vector LIMIT 5",
        "options": {
          "queryReplacement": "={{ $json.vecStr }}"
        },
        "operation": "executeQuery"
      },
      "credentials": {
        "postgres": {
          "id": "jwmJZvXfgVvLvayB",
          "name": "Postgres RAG"
        }
      },
      "typeVersion": 2.6,
      "alwaysOutputData": true
    },
    {
      "id": "build-prompt",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "position": [
        1220,
        300
      ],
      "parameters": {
        "jsCode": "const message = $(\"Chat Trigger\").first().json.chatInput;\nconst docs = $input.all();\nconst context = docs.map(d => d.json.contenido_resumido).filter(Boolean).join(\"\\n\");\nconst sources = docs.filter(d => d.json.fuente).map(d => ({ nro_documento: d.json.fuente.replace(\"persona:\", \"\") }));\nreturn [{ json: { context: context || \"(sin registros)\", message, sources } }];",
        "language": "javaScript"
      },
      "typeVersion": 2
    },
    {
      "id": "call-llm",
      "name": "Call LLM",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1460,
        300
      ],
      "parameters": {
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "method": "POST",
        "options": {},
        "jsonBody": "={{ { model: \"llama-3.1-8b-instant\", messages: [{ role: \"system\", content: \"Eres un asistente del sistema de registro de personas de Uninorte. Responde UNICAMENTE con la información del CONTEXTO.\\nReglas estrictas:\\n1. Si la pregunta menciona un número de cédula o documento, responde SOLO sobre esa persona.\\n2. Si la pregunta usa \\\"su información\\\", \\\"él\\\", \\\"ella\\\" u otros pronombres SIN número de documento, responde SOLO sobre la PRIMERA persona del CONTEXTO.\\n3. Para preguntas de conteo o listado general (cuántas personas, quiénes están), usa todo el CONTEXTO.\\n4. Si la persona preguntada NO aparece en el CONTEXTO, responde exactamente: \\\"No, no existe ninguna persona con ese dato registrada en el sistema.\\\"\\n5. Nunca digas \\\"no tengo información suficiente\\\".\\nResponde siempre en español.\" }, { role: \"user\", content: \"CONTEXTO:\\n\" + $(\"Build Prompt\").first().json.context + \"\\n\\nPREGUNTA: \" + $(\"Build Prompt\").first().json.message }], temperature: 0.1, max_tokens: 300 } }}",
        "sendBody": true,
        "contentType": "json",
        "sendHeaders": true,
        "specifyBody": "json",
        "temperature": 0.1,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GROQ_API_KEY }}"
            }
          ]
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "position": [
        1700,
        300
      ],
      "parameters": {
        "jsCode": "const answer = $input.first().json.choices?.[0]?.message?.content ?? 'Sin respuesta.';\nconst sources = $('Build Prompt').first().json.sources ?? [];\nreturn [{ json: { output: answer, sources } }];",
        "language": "javaScript"
      },
      "typeVersion": 2
    },
    {
      "id": "log-query",
      "name": "Log QUERY_NL",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1940,
        300
      ],
      "parameters": {
        "url": "http://ms-log:4005/api/v1/logs/internal",
        "method": "POST",
        "options": {},
        "jsonBody": "={{ { tipo_transaccion: 'QUERY_NL', pregunta_rag: $('Chat Trigger').first().json.chatInput, respuesta_rag: $('Format Response').first().json.output } }}",
        "sendBody": true,
        "contentType": "json",
        "sendHeaders": true,
        "specifyBody": "json",
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "typeVersion": 4,
      "continueOnFail": true
    },
    {
      "id": "chat-response",
      "name": "Chat Response",
      "type": "n8n-nodes-base.code",
      "position": [
        2180,
        300
      ],
      "parameters": {
        "jsCode": "// Retorna la respuesta de la IA al chat de n8n\nconst output = $('Format Response').first().json.output;\nconst sources = $('Format Response').first().json.sources ?? [];\nreturn [{ json: { output, sources } }];",
        "language": "javaScript"
      },
      "typeVersion": 2
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Get Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Embedding": {
      "main": [
        [
          {
            "node": "Prepare Vector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Vector": {
      "main": [
        [
          {
            "node": "Retrieve Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Context": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Call LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call LLM": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Log QUERY_NL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log QUERY_NL": {
      "main": [
        [
          {
            "node": "Chat Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {}
}